<div id="result">
  <table class="table">
    <tr>
      <th>Iteration</th>
      <th>First number</th>
      <th>Second number</th>
    </tr>

    <tr>
      <th>Initial</th>
      <th><%= @first_num %></th>
      <th><%= @second_num %></th>
    </tr>

    <% @steps.each do |step| %>
      <tr>
        <td><%= step['step'] + 1 %></td>
        <td><%= step['first'] %></td>
        <td><%= step['second'] %></td>
      </tr>
    <% end %>

    <tr>
      <th>Operation</th>
      <th>Greatest common denominator</th>
      <th>Least common multiple</th>
    </tr>

    <tr>
      <th>Result</th>
      <th><%= @gcd %></th>
      <th><%= @lcm %></th>
    </tr>
  </table>
</div>
