<%= form_tag("/euclid/result", :method => "get") do %>
  <div>
    <%= label_tag("Value 1:") %>
    <%= text_field_tag(:input_1) %>
  </div>

  <div>
    <%= label_tag("Value 2:") %>
    <%= text_field_tag(:input_2) %>
  </div>

    <%= submit_tag("Calculate greatest common denominator") %>
<% end %>
