<div class="col-md-8 col-lg-4 m-auto">
  <table class="table">
    <tr>
      <th>Step</th>
      <th>lhs</th>
      <th>rhs</th>
    </tr>

    <tr>
      <td>Initial</td>
      <td><%= @first_num %></td>
      <td><%= @second_num  %></td>
    </tr>

    <% @results.each do |ind, first, second| %>
      <tr>
        <td><%= ind %></td>
        <td><%= first %></td>
        <td><%= second  %></td>
      </tr>
    <% end %>

    <% gcd = [@first_res, @second_res].max  %>
    <tr>
      <th> Operation </th>
      <th>Greatest common denominator</th>
      <th>Least common multiple</th>
    </tr>

    <tr>
      <th>Result</th>
      <td><%= gcd %></td>
      <td><%= @first_num * @second_num / gcd %></td>
    </tr>
  </table>
  <h4><%= link_to "Go back", "/", class: "link" %></h4>
</div>
